.img{
  width: 100%;
  height: 590px;
}
.service-text{
  margin-top: 50px;
  margin-bottom: 20px;
}
.service-desc{
  font-weight: 400;
  color: rgb(106, 112, 122)
}
.service-time{
  line-height: 2;
}
.service-contact{
  line-height: 1.6;
}

.card-container{
  margin-top: 50px;
  padding: 0 50px 0 50px;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  text-align: left;
}
.card{
  border:1px solid rgb(31, 167, 255);
  border-radius: 6px;
  padding:20px;
  flex:1;
  margin-right: 30px;
  margin-bottom: 30px;
}
.card-title{
  padding-top: 10px;
  padding-bottom: 15px;
}
.icon-wrapper{
  width: 80px;
  height: 80px;
  border-radius: 40px;
  background-color: rgb(219, 244, 255);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.card-link{
  color: rgb(103, 167, 255)!important;
}

.view-service-but{
  background-color: red;
  color: white;
  padding: 12px 24px 12px 24px;
}

.doctor-img{
  width: 630px;
  height: 670px;
}

.time-border{
  width: 100%;
  height: 3px;
  background-color: white;
}

.time-card{
  color: white;
  padding: 30px;
  background-color: rgb(0, 43, 87);
  width: 600px;
}